<div class="flex-container">
  <div class="left">
    <div>WOMEN</div>
    <div>MEN</div>
    <div>KIDS</div>
    <div style="color: red;">SALE</div>
  </div>

  <div style="font-size: 35px;" class="fashionHub"> FashionHub</div>

  <div class="right">
    <div> <img src="../../../assets/myIcon/search.png" alt="search" class="headIcon"> Search</div>
    <div>Account</div>
    <div class="cartt"> <img src="../../../assets/myIcon/food-basket.png" alt="" class="headIcon"> My Cart <span
        class="cart">0</span>
    </div>
  </div>
</div>
